* {
    padding: 0;
    margin: 0;
}

input,
select {
    padding: 5px;
    border-radius: 40px;
    border: 1px solid grey;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
}

label{
    font-family: "Josefin Sans", sans-serif;
}


button {
    width: 100%;
    padding: 5px;
    background-color: #61b2e7;
    border-radius: 40px;
    border: 1px solid grey;
    color: white;
    font-family: "Josefin Sans", sans-serif;

}

button:hover {
    background-color: #579ece;
}

p{
    font-family: "Josefin Sans", sans-serif;
}